<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<base href="/" />
	<link rel="stylesheet" href="app.css" />
	<link rel="stylesheet" href="REPO_TUT.styles.css" />
	<link rel="icon" type="image/png" href="favicon.png" />
	<HeadOutlet />
</head>

<body>
	<img src="logo.png" alt="logo.png" style="width: 250px; height: auto;" />
	<Routes @rendermode="RenderMode.InteractiveServer" />
	<AntContainer @rendermode="RenderMode.InteractiveServer" />
	<script src="_framework/blazor.web.js"></script>
</body>

</html>
